* {
    margin: 0px;
    padding: 0px;
}

.middle-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.chat-members-container {
    padding: 20px;
    flex-shrink: 1;
    background-color: #00897B;
    overflow-y: auto;
}

.chat-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chat-window {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    background-color: grey;
}

.chat-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    background-color: #006157;
}

#recordedMessage {
    margin: 10px;
    flex: 1 0 auto;
    font-size: 20px;
}

#chatWindow{
    width: 500px;
    margin: 50px auto;
    border-radius: 15px;
    background: #00897B;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    font-family: arial;
    position: relative;
}

.recorder button {
    margin: 5px 10px 5px 10px;
    border: none;
    padding: 2px;
    background-color: #006157;
    transition: 0.2s;
}

.recorder button:hover {
    color: white;
    cursor: pointer;
}

/* speech bubble 13 */
.recvdMess:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid #00897B;
    border-right: 15px solid transparent;
    border-top: 15px solid #00897B;
    border-bottom: 15px solid transparent;
    right: -16px;
    top: 0px;
    padding: 5px;
}

/* speech bubble 14 */
.sentMess:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #00897B;
    border-top: 15px solid #00897B;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
    padding: 5px;
}

