body,html {
    height: 100%;
    margin: 0;
    background-color: #00897B;
    font-family: Arial, Helvetica, sans-serif;
}

#navigationBar {
    top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006157;
}

#homepage {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 3px solid transparent;
    transition: 0.15s;
    cursor: pointer;
}

li a:hover {
    background-color: #003630;
    border-bottom: 3px solid white; 
}

#windowBox {
    background-color: #424242;
    color: white;
    border-radius: 10px;
    justify-content: center;
    display: grid;
    width: 500px;
    padding: 30px;
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}

.textfield {
    background-color: #303030;
    border-radius: 3px;
    border: none;
    padding: 10px;
    color: white;
    width: 225px;
}
.button:hover {
    cursor: pointer;
}