/*#photoPlaceholder {
    background-color: #006157;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#photoPlaceholder:hover {
    color: white;
    background-color: #006157;
}*/
button {
    padding: 10px;
    color: black;
    background-color: #00897B;
    border-radius: 5px;
    border: none;
    transition: 0.15s;
}

button:hover {
    color: white;
    background-color: #006157;
}

.setting-container .avatar-container{
    position: absolute;
    top:90px;
    bottom: 0;
    left: 850px;
    right: 0;

    margin: auto;
}

.setting-container .leftcol-container{
    position: absolute;
    top:400px;
    bottom: 0;
    left: 400px;
    right: 0;

    margin: auto;
}
.setting-container .rightcol-container{
    position: absolute;
    top:400px;
    bottom: 0;
    left: 1000px;
    right: 0;

    margin: auto;
}
.setting-container .footer-container{
    position: absolute;
    top:700px;
    bottom: 0;
    left: 850px;
    right: 0;

    margin: auto;
}

#editUsername{
    margin-right: 10px;
}
.username{
    font-size: x-large;
    font-weight:bold;
}

#placeholder-name{
    font-size: large;
    font-weight: normal;
}
.email{
    font-size: x-large;
    font-weight:bold;
}
#placeholder-email{
    font-size: large;
    font-weight: normal;
}
.password{
    font-size: x-large;
    font-weight:bold;
}
#placeholder-password{
    font-size: large;
    font-weight: normal;
}
.phone-number{
    font-size: x-large;
    font-weight:bold;
}
#placeholder-phone{
    font-size: large;
    font-weight: normal;
}
.input-ouput-device{
    font-size: x-large;
    font-weight:bold;
}
#placeholder-input{
    font-size: large;
    font-weight: normal;
}
.mode{
    font-size: x-large;
    font-weight:bold;
}
.notification{
    font-size: x-large;
    font-weight:bold;
}
.setting-container{
    background-color: #424242;
    color: white;
    border-radius: 10px;
    justify-content: center;
    display: grid;
    width: 1700px;
    height:700px;
    padding: 30px 30px 50px 30px;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    row-gap: 15px;
}



.profile-pic {
    width: 200px;
    max-height: 200px;
    display: inline-block;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 100% !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 72px;
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
    position: absolute;
    top: 167px;
    right: 30px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
    font-size: 1.2em;
}

.upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
}