.setting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 50px;
    width: 70%;
    min-width: 600px;
    border-radius: 10px; 
    background-color: #424242;
    color: white;
}

@media screen and (max-width: 1200px) {
    .setting-container  {
        margin-top: 20px;
        margin-bottom: 200px;
    }
}

.setting-container button {
    padding: 10px 25px 10px 25px;
    color: black;
    background-color: #00897B;
    border: none;
    cursor: pointer;
    transition: 0.10s;
}

.setting-container button:hover {
    border-radius: 2px;
    color: white;
    background-color: #006157;
    box-shadow: 0 0 3px 1px rgb(48, 48, 48);
}

.middle-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 2%;
}

@media screen and (max-width: 1200px) {
    .middle-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.middle-container-content {
    display: grid;
    grid-template-areas: 'p     button'
                         'label button';
    grid-gap: 10px;
}

.middle-container-content p {
    font-size: large;
    font-weight: bold;
    grid-area: p;
}

.middle-container-content label {
    font-size: large;
    font-weight: normal;
    grid-area: label;
}

.middle-container-content button {
    margin-left: 50px;
    width: 100px;
    justify-self: end;
    grid-area: button;
}

@media screen and (max-width: 1200px) {
    .middle-container-content button {
        margin-left: 0;
    }
}

.footer-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.footer-container button {
    margin: 5px;
}

@media screen and (max-width: 1200px) {
    .footer-container {
        flex-direction: column;
    }
}


.avatar-container {
    max-width: 960px;
    padding: 20px;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;
  }
  h1 small {
    display: block;
    font-size: 15px;
    padding-top: 8px;
    color: gray;
  }
  .avatar-upload {
    position: relative;
    max-width: 205px;
  }
  .avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
  }
  .avatar-upload .avatar-edit input {
    display: none;
  }
  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }
  .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }
  .avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }
  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
.night{
    background-color: #151515;
}
.dntoggle{
    font-size: 28px;
    background-color: #111111;
    padding: 15px;
    color:#fcfcfc;
    box-shadow: 1px 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    float: right;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.mode button:hover {
    border-radius: 2px;
}
.fa-moon-o:before{
    padding:0 2px;
}
.fa-sun-o{
    background-color: #212121;
    color:#ccc;
}
.username-container{
    visibility: hidden;
    position: absolute;
    left:38%;
    top:20%;
    width:500px;
    overflow: hidden;
    display: center;
    margin-top:auto;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-color: #6EC5B8;
    padding: 80px;
    border-radius: 10px;
    font-size: 30px;
    font-family: "Veranda", Veranda, sans-serif;
    font-size: x-large;
    color: #6EC5B8;
}


.username-container .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    background-color: white;

}

.email-container{
    visibility: hidden;
    position: absolute;
    left:38%;
    top:20%;
    width:500px;
    overflow: hidden;
    display: center;
    margin-top:auto;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-color: #6EC5B8;
    padding: 80px;
    border-radius: 10px;
    font-size: 30px;
    font-family: "Veranda", Veranda, sans-serif;
    font-size: x-large;
    color: #6EC5B8;
}


.email-container .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    background-color: white;
}

.password-container{
    visibility: hidden;
    position: absolute;
    left:38%;
    top:20%;
    width:500px;
    overflow: hidden;
    display: center;
    margin-top:auto;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-color: #6EC5B8;
    padding: 80px;
    border-radius: 10px;
    font-size: 30px;
    font-family: "Veranda", Veranda, sans-serif;
    font-size: x-large;
    color: #6EC5B8;
}

.password-container .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    background-color: white;

}

.phone-container{
    visibility: hidden;
    position: absolute;
    left:38%;
    top:20%;
    width:500px;
    overflow: hidden;
    display: center;
    margin-top:auto;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-color: #6EC5B8;
    padding: 80px;
    border-radius: 10px;
    font-size: 30px;
    font-family: "Veranda", Veranda, sans-serif;
    font-size: x-large;
    color: #6EC5B8;
}


.phone-container .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    background-color: white;
}
